# Игнорируем
.gradle/
.idea/
allure-results/
build/
gradle/
out/
plugin/

# Исключаем всё
*

# Включаем
!src/
!BerlinTravelAgency*.json
!newman-report.html
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
